/* começo bootstrap */
.selector-for-some-widget {
  box-sizing: content-box;
}
/* fim bootstrap */
/* começo body */
.page {
  background-color: #3e4147;
}
.header-up {
  background-color: #5a2e2e;
  padding: 15px;
}

.header-up h1 {
  color: #fffedf;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.pagination > li > a {
  border-radius: 50% !important;
  margin: 0 5px;
}

/* fim body */
/* ARTICLE */
article {
  margin-top: 20px;
  margin-bottom: 20px;
}

.barra-lateral {
  background-color: #2a2c31;
}
/* FIM ARTICLE */
/* FOOTER */
footer {
  background-color: #2a2c31;
}
footer h3 {
  color: #dfba69;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
footer p {
  color: #fffedf;
  text-align: center;
}
.copyright p {
  color: #535353;
  font-size: small;
}
.linha hr {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 200px;
  width: 1px;
}
.logo-footer img {
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.55);
}
.logo-footer h2 {
  text-align: center;
  margin-top: 30px;
  margin-left: 30px;
  padding: 5px;
  color: #dfba69;
}
.logo-footer p {
  text-align: center;
  margin-top: 30px;
  padding: 5px;
}
.icones span {
  margin-left: 20px;
  color: #dfba69;
}
.mapa img {
  max-width: 100%;
  margin: inherit;
  margin-bottom: 20px;
}
.quick-links hr{
  display: none;
}
.logo-footer {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .header-up {
    display: none;
  }
  .carroceu {
    display: none;
  }
  .linha hr {
 display: none;
  }
  .conteudo {
    margin-right: 0px;
  }
}
@media (max-width: 1023px) {
  .header-up {
    display: none;
  }
  .carroceu {
    display: none;
  }
  .linha hr {
 display: none;
  }
  .conteudo {
    margin-right: 0px;
  }
}
/* FIM FOOTER */
/* começo carroceu 1 */
/* CARROCEL 1 */
.carousel-item {
  min-height: 350px;
  min-width: 100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carroceu {
  margin-bottom: 20px;
}
/* fim carroceu 1 */
/* CARDS */
.card img {
  max-height: 200px;
}
.card p {
  color: #fffedf;
}
.card {
  margin-bottom: 20px;
  margin-top: 10px;
}
article p {
  color: #fffedf;
  padding: 10px;
}
article .card {
  background-color: #2a2c31;
}
article h4 {
  color: #dfba69;
}

/* FIM CARDS */
/* COLAPSE */
.card-body {
  color: #fffedf;
}
.card-body li {
  color: #dfba69;
  margin-bottom: 10px;
}
.card-header > h5 > button {
  color: rgb(209, 59, 59);
  text-decoration: none;
}
/* FIM COLAPSE */
/* começo media queries */
@media (max-width: 768px) {
  .header-up {
    display: none;
  }
}
/* fim media queries */
/* sign in FORM */
#logreg-forms {
  width: 412px;
  margin: 10vh auto;
  background-color: #f3f3f3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
#logreg-forms form {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
}
#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#logreg-forms .form-control:focus {
  z-index: 2;
}
#logreg-forms .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#logreg-forms .social-login {
  width: 390px;
  margin: 0 auto;
  margin-bottom: 14px;
}
#logreg-forms .social-btn {
  font-weight: 100;
  color: white;
  width: 190px;
  font-size: 0.9rem;
}

#logreg-forms a {
  display: block;
  padding-top: 10px;
  color: lightseagreen;
}

#logreg-form .lines {
  width: 200px;
  border: 1px solid red;
}

#logreg-forms button[type="submit"] {
  margin-top: 10px;
}

#logreg-forms .facebook-btn {
  background-color: #3c589c;
}

#logreg-forms .google-btn {
  background-color: #df4b3b;
}

#logreg-forms .form-reset,
#logreg-forms .form-signup {
  display: none;
}

#logreg-forms .form-signup .social-btn {
  width: 210px;
}

#logreg-forms .form-signup input {
  margin-bottom: 2px;
}

.form-signup .social-login {
  width: 210px !important;
  margin: 0 auto;
}

/* Mobile */

@media screen and (max-width: 500px) {
  #logreg-forms {
    width: 300px;
  }

  #logreg-forms .social-login {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  #logreg-forms .social-btn {
    font-size: 1.3rem;
    font-weight: 100;
    color: white;
    width: 200px;
    height: 56px;
  }
  #logreg-forms .social-btn:nth-child(1) {
    margin-bottom: 5px;
  }
  #logreg-forms .social-btn span {
    display: none;
  }
  #logreg-forms .facebook-btn:after {
    content: "Facebook";
  }

  #logreg-forms .google-btn:after {
    content: "Google+";
  }
}
