<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/304fafef48.js" crossorigin="anonymous"></script>
    <link rel="icon" type="imagem/png" href="./img/B.png" />
    <!-- // chamada da biblioteca JQuery -->
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
    <script type="text/javascript" src="jquery.js"></script>
    <title>{{ title }}</title>

    {{!-- styles --}}

    {{!-- fim styles --}}
</head>

<body>
    <div class="page">
        <header>
            <div class="header-up">
                <div class="container">
                    <div class="row flex-nowrap justify-content-center align-items-center">
                        <div class="col-4 text-center">
                            <h1>Hardknowledge</h1>
                        </div>

                    </div>
                </div>
                <!-- fim header-up -->
            </div>
            <div class="header-down">
                <!-- COMEÇO NAV -->
                <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                    <a class="navbar-brand" href="/">
                        <img src="/img/B (2).png" width="50" height="30" class="d-inline-block align-top" alt="">
                        BRIO!
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/pag-explicacao/quem-somos">Quem somos</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Hardware
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/pag-explicacao/processador">Processadores</a>
                                    <a class="dropdown-item" href="/pag-explicacao/MemoriaRam">Memoria RAM</a>
                                    <a class="dropdown-item" href="/pag-explicacao/harddisk">Hard Disk (HD)</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/pag-explicacao/mouse">Mouse</a>
                                    <a class="dropdown-item" href="/pag-explicacao/teclado">Teclado</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Comparador
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/comparador/0/0">Peças de Computador</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/banco-de-peca">Banco de peças</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/login">Login/Sign In</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
        </header>
        <!-- fim header down -->

        {{{ body }}}
                    <iframe id="webroundbuttonwidget2" file="webroundbuttonwidget"
                        src="https://telegrambutton.com/webroundbuttonwidget.php?chat_id=WatsonChatIyanBot&showchatid=true&showmembercount=true&showmembercount=true&color=&pulse=true&textcolor=white&shadowval=z-depth-2&textval=join channel"
                        border="1"
                        style="border:20px;height: 100px;width: 100px;z-index:9999;position:fixed;bottom:0;right:0;"></iframe>
    </div>
</body>

</html>