<div class="noticia">
    <div class="row h-12">
        <div class="conteudo-noticia">
            <div class="col-xl-9 col-lg-9 col-12">
                <img src="/IMG/intelw.jpg" alt="">
                <h1>Intel anuncia os novos Xeon W</h1>
            </div>
            <div class="col-xl-9 col-lg-9 col-12">
                <hr style="height:1px;border-width:0;color:snow;background-color:snow">
                <h4>
                    A Intel anuncia seus novos processadores
                    voltados para estações de trabalho para o segmento de baixo custo.
                    Os novos Xeon W fazem parte da série 1200 (codinome Comet Lake), e são
                    os
                    sucessores da série E-2200.
                </h4>
                <hr style="height:1px;border-width:0;color:snow;background-color:snow">
                <h3>
                    Até 10 núcleos para estações de trabalho de entrada
                </h3>
                <p>
                    Os Xeon W-1200 oferecem até 10 núcleos e 20 threads, e devem competir
                    com os
                    AMD Ryzen do segmento mainstream, que possuem ótimo desempenho em
                    multitarefa.
                </p>
                <p>
                    A maior prova disso são as semelhanças entre o Xeon X-1290P, modelo topo
                    de
                    linha da série, e o Core i9-10900K.Esses chips, inclusive, têm suporte
                    para
                    memórias ECC – geralmente usadas em servidores – com frequência de 2933
                    MHz em dual channel, e suportam a
                    plataforma vPro, assim como alguns chips Intel Core.
                </p>
                <h3>
                    Intel Xeon W-1200 e suas especificações:
                </h3>
                <img src="/IMG/tabelaintelw.jpg" alt="">
                <p>
                    Os modelos mais potentespossuem o “P” adicionado ao modelo, e todos eles
                    têm TDP de 125 W.
                    De uma forma meio surpreendente, o TDP dos outros modelos apresentam
                    valores bem diferentes, como 80 W e 35 W.
                    Ao contrário dos chips Intel Core de
                    10ª geração, cujos gráficos integrados recebem o nome UHD 630, os Xeon
                    W-1200 usam a iGPU UHD P630.
                </p>
                <p>
                    São chips voltados para estações de trabalho,
                    é possível que essas placas de vídeo integradas ofereçam maior
                    possibilidade
                    de conexões e suporte para mais monitores.
                </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<!-- fim container -->
</article>
<!-- inicio footer -->
<footer>
    <div class="container-fluid">
        <div class="row h-12 justify-content-center align-items-center">
            <div class="col-lg-12 col-12">
                <div class="row h-12">
                    <div class="col-4">
                        <div class="logo-footer">
                            <h2>Sobre Nós!</h2>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="logo-footer">
                            <p>Somos um grupo de amigos cientistas da computação realizando este projeto da
                                matéria de TI (trabalho interdisciplinar), determinados a ajudar todas as
                                pessoas que tem dúvidas sobre Hardware!</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="logo-footer">
                            <img src="/img/B.png" alt="" width="100" height="100">
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="icones">
                            <span>
                                <a href="https://twitter.com/HasiramaLeet"><i style="color: #dfba69"
                                        class="fab fa-twitter-square fa-3x"></i></a>
                            </span>
                            <span>
                                <a href="https://www.instagram.com/iyanlucas/?hl=pt-br"><i style="color: #dfba69"
                                        class="fab fa-instagram-square fa-3x"></i></a>
                            </span>
                            <span>
                                <a href="https://acavernadeumanonimo.tumblr.com/"><i style="color: #dfba69"
                                        class="fab fa-tumblr-square fa-3x"></i></a>
                            </span>
                            <span>
                                <a href="#"><i class="fab fa-github-square fa-3x" style="color: #dfba69"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <hr style="height:1px;border-width:0;color:snow;background-color:snow">
            </div>
            <div class="col-lg-3 col-12">
                <div class="quick-links">
                    <div class="logo-footer">
                        <h3>Quick Links</h3>
                    </div>
                    <div class="row h-12">
                        <div class="col-6">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Processador</a></li>
                                <!-- <li><a href="#">lorem</a></li>
                                        <li><a href="#">Lorem, ipsum.</a></li> -->
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li><a href="#">Memória RAM</a></li>
                                <li><a href="#">login/Sign in</a></li>
                                <!-- <li><a href="#">Lorem, ipsum.</a></li>
                                        <li><a href="#">Lorem, ipsum.</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <hr style="height:1px;border-width:0;color:snow;background-color:snow">
                </div>
            </div>
            <div class="col-1">
                <div class="linha">
                    <hr>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <h3>Aonde Estamos!</h3>
                <div class="mapa">
                    <a
                        href="https://www.google.com/maps/place/Puc+Minas/@-19.93618,-43.934249,16z/data=!4m5!3m4!1s0x0:0xed007a7e62a855bb!8m2!3d-19.9361801!4d-43.9342488?hl=pt-BR"><img
                            src="/img/2020-05-17 11.13.02 iyanlucasd.github.io e20d437c5e09.png" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="copyright">
                    <p>Copyright BRIO! 2020, todos os direitos reservados</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- final footer -->